
*:not(body):not(html){
    
    /*border:1px dashed #000;
    */
}

.columns{
  min-height:300px;

}

header#site-header{
    
    margin-bottom:20px;
    min-height:200px;
   
}

footer#site-footer{
    
    min-height:200px;
}
.wrapper {
    margin-bottom:20px;
 
}

h1{
font-family: 'Roboto', sans-serif;
}

h4{
font-family: 'Roboto', sans-serif;
}

.logo{
display: block;
  margin: 15px auto;
  max-height:250px;
  max-width:250px;
}

.red{
    background-color:red;
}

.orange{
    background-color:#ff6a00;
}

.yellow{
    background-color:#ffd800;
}

#title{
    margin-top:75px;
}
.row{
    margin-bottom:1px;
    max-width:100%;
}

#grey{
    color:GrayText;
}
.title{
    min-height:50px;
}

.imageSlider{
    width:100%;
    height:100%;
    position:absolute;

}
.absoluteDIV{
    position:absolute;
    z-index:3;
}

.wide{
    width:100%;
}
@media only screen and (max-width : 875px){
    .myName{
        display:none;
    }

}

