/*
    File Name : main.css
    Author Name : Benjamin Vanarragon
    Web Site : webdesign4.georgianc.on.ca/~200260440/AW/Portfolio
    Description : This file contains all of my styling for my index.html and other websites, adjusting the premade styling from the foundation framework
*/
*:not(body):not(html){
    
    /*border:1px dashed #000;
    */
}

body {
    overflow-x: hidden;
    
}

.columns{
min-height:300px;

}

header#site-header{
    
    margin-bottom:20px;
    min-height:200px;
   
}

.footerBottom{
    min-height:50px;
    max-height:50px;
}
.wrapper {
    margin-bottom:20px;
 
}

h1{
font-family: 'Roboto', sans-serif;
}

h4{
font-family: 'Roboto', sans-serif;
}

h3{
font-family: 'Roboto', sans-serif;
}

.logo{
display: block;
  margin: 15px auto;
  max-height:250px;
  max-width:250px;
}

.white{
    background-color:white
}

.gray{
    background-color:lightgray
}

.title{
   
}
.row{

    max-width:100%;
}

.grayText{
    color:GrayText;
    text-shadow: -0.1px 0 white, 0 0.1px white, 0.1px 0 white, 0 -0.1px white;
}
.title{
    min-height:50px;
}

.imageSlider{
    width:100%;
    height:100%;
    position:absolute;

}
.absoluteDIV{
    position:absolute;
    z-index:3;
}

.wide{
    width:100%;
}
@media only screen and (max-width : 1024px){
    .myName{
        display:none;
    }

}



.firstName{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.bigPicture{
    position: fixed; 
    height: 100%; 
    width: 100%
}

.leftBorder{
    border-left:1px solid lightgray;
}

.connectLogo{
    width:50px;
    height:50px;
}

.headerLogo{
    width:25px;
    height:25px;
}

p{
    font-family: 'Exo 2', sans-serif;

    font-size:large;
}

.resume{
    display: block;
  margin-left:auto;
  margin-right:auto;
  min-height:50%;
  min-width:50%;

}
.resumeWrapper{
    width:100%;
}

.objectPDF{

     width:100%;
    height:1000px;
}
.logoSmaller{
    display: block;
  margin: 15px auto;
  max-height:250px;
  max-width:250px;
}